.page-index {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7fa;
  height: 40px;
  width: 40px;
  border-radius: 8px;
  cursor: pointer;
  color: #4e4e53;
  transition: all 0.3s;
}

.selected {
  background-color: #77767e;
  color: #f7f7fa;
}

.page-index:hover {
  filter: brightness(70%);
}

.page-index:active {
  transform: scale(0.95);
}
