.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

tr,
td,
th {
  border: 1px solid #d1cfd7;
}

table {
  border-collapse: collapse;
  width: 100%;

  font-family: 'Inter';
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #232326;
  margin-bottom: 16px;
}

td,
th {
  padding: 4px 8px;
}

td {
  text-align: center;
  height: 36px;
}

td::first-letter {
  text-transform: capitalize;
}

th {
  background-color: #f7f7fa;
}
.category-item {
  width: 40%;
}

.delete-icon,
.edit-icon {
  fill: #aaa;
  transition: all 0.1s;
}

.actions {
  cursor: pointer;
  display: flex;
  align-items: space;
  justify-content: space-around;
  border: none;
}

.btn-del {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Dialog Styles */
.dialog p {
  font-family: 'Inter';
  font-weight: 400;
}

.div-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  gap: 24px;
}

.div-btn .cancel {
  background-color: white;
  color: #212121;
  box-shadow: inset 0 0 0 2px #212121;
}

.div-btn button {
  padding: 8px 64px;
}

.error-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f8d7da;
  color: #721c24;
  padding: 16px;
  border-radius: 4px;
}
