.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

tr,
td,
th {
  border: 1px solid #d1cfd7;
}

table {
  border-collapse: collapse;
  width: 100%;

  font-family: 'Inter';
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #232326;
}

td,
th {
  padding: 4px 8px;
}

td {
  text-align: center;
  height: 36px;
}

td::first-letter {
  text-transform: capitalize;
}

th {
  background-color: #f7f7fa;
}

tfoot {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 15px;
  gap: 15px;
}

.category-item {
  width: 40%;
}

.delete-icon,
.edit-icon {
  fill: #aaa;
  transition: all 0.1s;
}

.actions {
  cursor: pointer;
  display: flex;
  align-items: space;
  justify-content: space-around;
  border: none;
}
