@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  /* margin: 125px 30px 40px 30px; */
  margin: 40px 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

button {
  background-color: #212121;
  color: #fff;
  padding: 8px 16px;
  border: none;

  font-family: 'Montserrat';
}

.list {
  font-family: 'Inter';
  font-size: 15px;
  line-height: 20px;
  color: #232326;
}

tr,
td,
th {
  border: 1px solid black;
}

table {
  font-family: 'Inter';
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  padding: 4px 8px;
}

td {
  text-align: center;
  height: 36px;
}

th {
  background-color: #f7f7fa;
}

tfoot {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 15px;
  gap: 15px;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.category-item {
  width: 40%;
}

.delete-icon {
  width: 16px;
  height: 16px;
}

.actions {
  cursor: pointer;
  display: flex;
  align-items: space;
  justify-content: space-around;
  border: none;
}
