@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.App {
  /* margin: 125px 30px 40px 30px; */
  margin: 40px 30px;
}
body {
  font-family: 'Montserrat';
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  font-family: 'Inter';
  font-size: 15px;
  line-height: 20px;
}

.container {
  display: flex;
  height: 36px;
  border: 1px solid black;
}

.container:not(:last-child) {
  border-bottom: none;
}

.name,
.category,
.price,
.date,
.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border-right: 1px solid black;
}

.name {
  width: 15%;
  justify-content: start;
}

.category {
  width: 40%;
  justify-content: start;
}

.price {
  width: 15%;
}

.products .price {
  justify-content: end;
}

.date {
  width: 15%;
  justify-content: end;
}

.products .date {
  justify-content: end;
}

.actions {
  width: 15%;
  border-right: none;
}
